<div class="h-48 rounded  border-2 border-brand h-full">
    <CodeSnippet Language="Language.csharp" Style="Style.GitHubDark">
        @{
            if (ChildContent is not null)
            {
                @ChildContent;
            }
        }
    </CodeSnippet>
</div>

@code {
    /// <summary>
    /// Gets or sets the sole <see cref="RenderFragment"/>.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}